//color
$color-black:#000;
$color-white:#fff;

$color-primary-dark:#272c2b;
$color-primary:#79817f;
$color-primary-light:#f0f7f5;

$color-secondary-dark:#853004;
$color-secondary:#d47906;
$color-secondary-light:#eccba2;

$color-personal-dark:#03344b;
$color-personal:#4e849c;
$color-personal-light:#dbebf3;

$shadow:0 0.5rem 1rem rgba($color: $color-black, $alpha: 0.5);


//font 
$font-primary:'Montserrat', sans-serif;
$font-arabic:'El Messiri', sans-serif;

