@import "../../setting/variable.scss";
.personal {
    display: grid;
    background-color: rgba($color-secondary-light,.1);
    grid-template-columns: 30% 70%;
    row-gap: 4rem;
    padding: 10rem 20rem;
    margin: auto;
    text-transform: capitalize;

    &__title {
        grid-column: 1/-1;
        font-size: 5rem;
        font-weight: 900;
        color: $color-personal-dark;
        text-align: center;
        span {
            background-image: linear-gradient(to right, $color-secondary-dark, $color-secondary);
            background-clip: text;
            color: transparent;
        }
    }

    &__img {
        align-self: center;
        grid-column: 1/2;
        display: grid;
        place-items: center;
        background-image: linear-gradient(to right, $color-secondary-dark, $color-secondary);
        height: 25rem;
        width: 25rem;
        border-top-left-radius: 40%;
        border-bottom-right-radius: 40%;
        transition: 0.5s;

        &:hover{
            transform: translateX(-2rem);
        }
        img {
            height: 28rem;
            transition: 0.5s;

            &:hover{
                transform: translateX(4rem);
            }
        }
    }
    &__list {
        grid-column: 2/-1;
        margin-left: 5rem;
        background-image: linear-gradient(to right, $color-personal-dark, $color-personal);
        border-radius: 1rem;
        padding: 1.5rem 2.5rem;
        transition: all .5s;

        &:hover{
            background-image: linear-gradient(to bottom, $color-personal-dark, $color-personal);
            transform:scale(1.1);


        }
    }
    &__item {
        display: flex;
        align-items: center;
        margin: 1rem;
        font-weight: 500;
        margin-left: auto;
        font-size: 2rem;
        color: $color-primary-light;

        &-left {
            
            margin-right: 1rem;
            display: inline-block;
            font-size: 1.5rem;
            margin: 0.5rem;
            color: $color-secondary;
        }

        &-right {
            text-align: center;
            display: inline-block;
            font-size: 1.3rem;
        }
    }
}
.item-rtl{
display:flex;
flex-direction: row-reverse;
}
//media query
@media only screen and (max-width:600px) {
    .personal{
        padding: 5rem 2rem;

        &__title{
            font-size: 4rem;

        }
        &__img{
            height: 18rem;
            width: 18rem;
            img{
                height: 20rem;
                
            }
        }
        &__list {
            margin-left: 3rem;
            padding:1rem;
        }
        &__item{
            margin: .5rem;
            &-left {
                display: inline-block;
                font-size: 1.3rem;
                margin-right: .3rem;
                color: $color-secondary;
            }
    
            &-right {
                text-align: center;
                display: inline-block;
                font-size: 1.1rem;
            }
 
        }
        
    }}
  